.home{
  &__title{
    &:before{
      margin-right: 10px;
      @include media-breakpoint-up('m'){
        margin-right: 27px;
      }
      content: "";
      width: 28px;
      display: inline-block;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.2 12.2H8C10.8 12.2 12.2 10.8 12.2 8V5.2C12.2 2.4 10.8 1 8 1H5.2C2.4 1 1 2.4 1 5.2V8C1 10.8 2.4 12.2 5.2 12.2Z' stroke='%23F18C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 12.2H24.8C27.6 12.2 29 10.8 29 8V5.2C29 2.4 27.6 1 24.8 1H22C19.2 1 17.8 2.4 17.8 5.2V8C17.8 10.8 19.2 12.2 22 12.2Z' stroke='%23F8F8F8' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 28.9999H24.8C27.6 28.9999 29 27.5999 29 24.7999V21.9999C29 19.1999 27.6 17.7999 24.8 17.7999H22C19.2 17.7999 17.8 19.1999 17.8 21.9999V24.7999C17.8 27.5999 19.2 28.9999 22 28.9999Z' stroke='%23F18C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.2 28.9999H8C10.8 28.9999 12.2 27.5999 12.2 24.7999V21.9999C12.2 19.1999 10.8 17.7999 8 17.7999H5.2C2.4 17.7999 1 19.1999 1 21.9999V24.7999C1 27.5999 2.4 28.9999 5.2 28.9999Z' stroke='%23F8F8F8' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    text-align: center;
    color: #f8f8f8;
    @include fluidx(48px,38px,font-size);
    font-weight: 500;
    span{
      color: #FF9431;
    }
  }
  &__divider{
    &:nth-child(n+2){
      border-top: 1px solid #393860;
      margin-top: 30px;
      padding-top: 30px;
      @include media-breakpoint-up('m'){
        margin-top: 60px;
        padding-top: 60px;
      }
    }
  }
  &__bg1{
    background: #1E1D32;
  }
  &__bg2{
    background: #292845;
  }
  &__slideshow{
    .uk-slideshow-nav{
      >*{
        &:hover,
        &.uk-active{
          >*{
            background: #F93132;
          }
        }
        >*{
          @include media-breakpoint-up('m'){
            width: 82px;
            height: 15px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.5);
            border-color: transparent;
          }
        }
      }
    }
    &__box{
      >*{
        &:nth-child(n+2){
          margin-top: 20px;
          @include media-breakpoint-up('m'){
            margin-top: 30px;
          }
        }
      }
    }
    &__txt1{
      font-size: 24px;
      line-height: (28/24);
      font-weight: 500;
      color: #fff;
      span{
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0px;
          height: 2px;
          background-color: #FF9431;
          transition: .3s ease-in-out;
          transition-property: right;
        }
      }
    }
    &__txt2{
      font-size: 32px;
      line-height: (37/32);
      color: #fff;
      div{
        color: #FF9431;
        //font-weight: 600;
      }
    }
    &__btn{
      text-transform: inherit;
      font-weight: 500;
      &.uk-button-danger{
        background: #F93132;
      }
      &.uk-button-secondary{
        background: #FF9431;
        color: #fff;
        &:hover{
          background-color: #f2f2f2;
          color: #666;
        }
      }
    }
  }
  &__service{
    &__bg{
      mix-blend-mode: overlay;
      background-position: top 81px right 17px;
    }
    &__boxImg{

    }
    &__txt1{
      color: #FF9431;
      font-size: 20px;
      font-weight: 500;
    }
    &__txt2{
      color: #f8f8f8;
      font-size: 15px;
      margin-top: 15px;
    }
    &__card{
      border-radius: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='471' height='473' viewBox='0 0 471 473' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M457.327 349.04C490.181 234.959 449.872 203.812 442.183 197.036C441.586 196.783 441.839 196.187 442.091 195.591C450.847 154.993 396.715 134.867 387.418 130.223C341.185 106.411 349.94 65.813 354.627 48.1065C355.385 46.3178 353.595 45.559 352.493 46.4985C333.503 63.0671 329.273 88.0007 329.064 98.462C329.156 99.9074 327.709 99.9978 326.516 99.4919C279.411 71.0907 286.746 17.2306 288.976 1.99945C289.481 0.806963 287.691 0.0481646 286.841 0.391478C179.434 37.8669 195.508 131.186 201.059 154.638C201.151 156.084 199.199 157.366 198.258 156.264C172.435 129.145 182.751 94.8344 186.863 81.8075C187.116 81.2112 186.772 80.362 185.578 79.8562C143.061 68.8722 107.425 93.1562 101.914 97.854C46.1152 143.133 14.0484 223.789 9.5004 234.521C-11.6102 290.983 9.94279 314.886 14.3039 319.548C37.2118 341.915 67.795 329.556 74.8439 326.213C115.944 305.651 179.71 253.198 188.023 246.874C206.255 232.094 229.371 244 229.371 244C229.371 244 239.518 248.3 270.555 261.453C300.995 274.352 303.562 296.539 305.052 306.314C306.195 333.524 321.031 416.472 324.839 430.746C336.538 477.902 378.554 471.794 378.554 471.794C424.058 465.758 453.972 360.278 457.327 349.04ZM146.701 121.756C172.366 132.632 184.413 162.353 173.548 187.992C162.683 213.63 132.95 225.646 107.284 214.77C81.6192 203.894 69.5723 174.173 80.4369 148.535C91.3016 122.896 121.035 110.88 146.701 121.756ZM206.83 227.415C198.909 226.168 181.3 227.849 157.396 249.368C152.987 253.127 113.996 288.649 67.7988 311.271C61.8521 313.674 29.6613 328.165 17.0175 298.191C14.6081 292.247 7.8633 268.29 20.7493 237.881C29.7757 219.904 27.8679 231.051 27.8679 231.051C27.7067 233.093 23.0634 260.665 28.2483 278.335C30.9323 288.615 41.8809 300.991 68.3776 288.307C87.4115 281.603 151.2 234.083 151.2 234.083C159.765 227.163 186.401 207.505 211.055 220.766C222.074 229.655 214.75 228.661 206.83 227.415ZM424.243 239.37C449.909 250.246 461.956 279.967 451.091 305.605C440.226 331.244 410.493 343.259 384.827 332.383C359.162 321.507 347.115 291.786 357.98 266.148C368.844 240.509 398.578 228.494 424.243 239.37ZM381.45 453.329C351.372 464.496 339.395 431.287 336.733 425.939C320.856 377.012 318.916 323.442 318.894 318.509C317.729 286.367 306.437 273.141 300.285 267.721C293.881 262.897 288.326 257.73 302.467 260.91C329.143 269.401 333.544 302.212 334.529 313.179C334.529 313.179 344.752 392.062 353.174 410.401C362.49 438.261 378.744 438.116 388.25 432.298C404.805 423.137 421.73 401.473 422.488 399.685C422.488 399.685 429.768 390.813 422.532 409.55C409.899 439.362 387.397 450.926 381.45 453.329Z' fill='url(%23paint0_linear_35_503)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_35_503' x1='189.944' y1='398.703' x2='348.107' y2='25.4719' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233E3D57'/%3E%3Cstop offset='0.0001' stop-color='%233E3D57'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top 99px left 59px;
      &__title{
        font-size: 48px;
        font-weight: 500;
        color: #f8f8f8;
        line-height: (56/48);
        span{
          color: #FF9431;
        }
      }
      &__box{
        border-bottom: 1px solid #3B3961;
        p{

        }
      }
    }
  }
  &__block01{
    &__img{
      aspect-ratio: 550/402;
      object-fit: cover;
    }
    &__txt{
      color: #F8F8F8;
      font-size: 16px;
      @include fluidx(16px,14px,font-size);
    }
    &__box{
      //min-height: 450px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 20px;
      @include media-breakpoint-up('m'){
        padding: 40px;
      }
    }
  }
  &__team{
    &__dotnav{
      >*{
        &.uk-active{
          >*{
            @include media-breakpoint-up('m'){
              width: 54px;
              border-radius: 20px;
            }
            background: #FF9431;
          }
        }
        >*{
          &:hover{
            background: #FF9431;
            border-color: transparent;
          }
          border-color: #FF9431;
          @include media-breakpoint-up('m'){
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    &__card{
      background: #292845;
      border-radius: 15px;
      overflow: hidden;
    }
    &__img{
      aspect-ratio: 375/252;
    }
    &__body{
      padding: 20px;
      @include media-breakpoint-up('m'){
        padding: 30px;
      }
    }
    &__txt1{
      color: #FF9431;
      font-size: 14px;
      line-height: (16/14);
    }
    &__txt2{
      color: #fff;
      font-size: 18px;
      line-height: (21/18);
      margin-top: 15px;
    }
    &__box{
      >*{
        &:nth-child(n+2){
          margin-top: 15px;
        }
      }
    }
    &__icon{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__t1{
      color: #FF9431;
      font-size: 20px;
      font-weight: 500;
      @include fluidx(20px,17px,font-size);
    }
    &__t2{
      color: #fff;
      font-size: 16px;
    }
  }
  &__conso{
    &__box{
      border: 2px solid #F8F8F8;
    }
    &__txt1{
      color: #FF9431;
      font-size: 32px;
      font-weight: 500;
      line-height: (38/32);
    }
    &__txt2{
      color: #F8F8F8;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.31;
    }
    &__box1{
      >*{
        &:nth-child(n+2){
          margin-top: 20px;
        }
      }
    }
  }
}